
.background {
    background-image: url(fundo-futurista-abstrato-com-design-3d.jpg);

}

.headline {
   background-color: rgb(135, 255, 48);
   
   border-radius: 30px;
   margin-inline: 57rem;
   padding-inline: 1rem;
}

.body {
    font-family: 'Courier New', Courier, monospace;
    float:middle;
 }
.skillsbox1 {
    float:left;
}
.skillsbox2 {
    margin-left:5%;
    float:left;
    margin-right: 10%;
}
.websites {
    float:left;
    margin-right:5%;
    margin-bottom:15.5%;
 
}


.socialnetwork {
    
    float: left;
}

.perfilimagem {
    border-radius: 180px;
    float:right;
    margin-right: 5%;
    margin-left: 10%;
    margin-top: 1%;
} 
.boxwebredes {
    float:left;
}

.position1 {
    float: inline-start;
}
.habtec {
    float: left;
}